<div class="hero-unit">
   <div class="row">
      <h1>Search Bot</h1>
      <p>Enter a question below.</p>
   </div>
   <div class="row">
      <form role="form" class="app-form">
         <div class="form-group">
            <label for="email">Question:</label>
            <input type="text" placeholder="Enter text" class="form-control input-lg question-field" id="text">
         </div>
         <button type="submit" class="btn btn-info btn-lg">Answer</button>
      </form>
   </div>
   <div class="row">
      <div class="answer-div">
         <label>Answer</label>
         <div class="answer-container">Here comes the answer.</div>
      </div>
   </div>
</div>